.manage__user > .tab-pane.card {
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.manage__form {
    padding: 40px 50px 50px;
}

.manage__form h4 {
    font-size: 14px;
    font-weight: 600;
}

.manage__form__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 20px;
}

.manage__form__title h3 {
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0;
}

.manage__form__title span {
    width: 30px;
    height: 30px;
    border: solid 1px #979797;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 100%;
    margin-right: 15px;
    font-size: 12px;
    font-weight: 600;
}

.manage__form__title p {
    font-size: 12px;
    color: #fc3d39;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0;
}

.manage__form__title p:before {
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #fc3d39;
    display: block;
    margin-right: 5px;
}

.manage__form .form-control {
    font-size: 14px;
}

.manage__form .form-control:valid, .manage__form .form-control:focus {
    outline: none;
}

.manage__form .form-control:hover, .manage__form .form-control:focus, .manage__form .form-control:active {
    border-color: #F7931E;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.manage__form__radio {
    margin-bottom: 30px;
}

.manage__form__radio input[type=radio] {
    display: none;
}

.manage__form__radio input:checked + label {
    color: #F7931E;
}

.manage__form__radio input:checked + label:before {
    border-color: #F7931E;
    -webkit-box-shadow: 0 0 0 1px #F7931E;
    box-shadow: 0 0 0 1px #F7931E;
}

.manage__form__radio label {
    font-size: 14px;
    font-weight: 400;
    color: #616161;
    margin-right: 30px;
    margin-bottom: 0;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.manage__form__radio label:before {
    content: '';
    width: 14px;
    height: 14px;
    opacity: .87;
    border: 3px solid transparent;
    -webkit-box-shadow: 0 0 0 1px #cecece;
    box-shadow: 0 0 0 1px #cecece;
    margin-right: 10px;
    border-radius: 100%;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.manage__form__select select,
  .manage__form__select_dd > .btn-light {
    color: #979797;
    font-size: 14px;
    font-weight: 400;
    background: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-color: #cecece;
}

.manage__form__select select:not(.multiple),
    .manage__form__select_dd > .btn-light:not(.multiple) {
    border: 1px solid #cecece;
    background-image: url("./../img/chevron-down.svg");
    background-position: right 15px center;
    background-repeat: no-repeat;
    background-size: 20px;
}

.manage__form__select select:valid, .manage__form__select select:focus,
    .manage__form__select_dd > .btn-light:valid,
    .manage__form__select_dd > .btn-light:focus {
    outline: none;
}

.manage__form__select select.multiple, .manage__form__select select.selected,
    .manage__form__select_dd > .btn-light.multiple,
    .manage__form__select_dd > .btn-light.selected {
    color: #333;
}

.manage__form__select select.multiple,
    .manage__form__select_dd > .btn-light.multiple {
    line-height: 20px;
}

.manage__form__select select.multiple option,
      .manage__form__select_dd > .btn-light.multiple option {
    padding: 10px;
}

.manage__form__select select:hover, .manage__form__select select:focus, .manage__form__select select:active,
    .manage__form__select_dd > .btn-light:hover,
    .manage__form__select_dd > .btn-light:focus,
    .manage__form__select_dd > .btn-light:active {
    border-color: #F7931E !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.manage__form__table {
    width: calc(100% + 100px);
    margin-left: -50px;
    display: block;
}

.manage__form__table thead,
    .manage__form__table tbody {
    display: block;
    width: 100%;
}

.manage__form__table thead p {
    font-weight: 700;
    text-transform: uppercase;
}

.manage__form__table tr {
    padding: 0 50px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.manage__form__table tbody tr:nth-child(2n+1) {
    background: #f2f2f2;
}

.manage__form__table th,
    .manage__form__table td {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 0;
}

.manage__form__table th:first-child,
      .manage__form__table td:first-child {
    width: 80%;
}

.manage__form__table th:last-child,
      .manage__form__table td:last-child {
    width: 20%;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.manage__form__table label,
    .manage__form__table p {
    font-size: 14px;
    margin-bottom: 0;
}

.manage__form__checkbox input[type=checkbox] {
    display: none;
}

.manage__form__checkbox.disabled label {
    cursor: not-allowed;
}

.manage__form__checkbox label {
    cursor: pointer;
    margin-right: 30px;
    margin-left: 25px;
}

.manage__form__checkbox label:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    width: 16px;
    height: 16px;
    opacity: .87;
    border: solid 1px #979797;
    color: transparent;
    font-size: 10px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-right: 9px;
    margin-left: -25px;
    border-radius: 4px;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.manage__form__checkbox input:checked + label:before {
    background: #F7931E;
    border-color: #F7931E;
    color: #fff;
}

.manage__form__kpi_checkbox label {
    margin-right: 30px;
}

.manage__form__action_btn {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 20px;
    background-color: #fff;
    z-index: 1000;
    -webkit-box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
}

.manage__form__action_btn .btn {
    min-width: 120px;
}

.manage__form__action_btn .container {
    padding-bottom: 0;
}

.manage__view__user .manage__form__input input + label,
.manage__view__user .manage__form__input textarea + label,
.manage__edit__user .manage__form__input input + label,
.manage__edit__user .manage__form__input textarea + label {
    bottom: 100%;
    color: #777;
    font-size: 12px;
}

.manage__form__selected_list .list-group-item {
    padding: 0.5rem 1rem;
    line-height: 22px;
}

.manage__form__select_dd {
    width: 100% !important;
}

.manage__form__select_dd .btn-light {
    width: 100% !important;
    outline: none;
}

.manage__form__select_dd .btn-light .filter-option {
    padding-right: 40px;
    overflow: hidden;
}

.manage__form__select_dd .btn-light .filter-option-inner-inner {
    text-overflow: ellipsis;
}

.manage__form__select_dd .btn-light:after {
    display: none;
}

.manage__form__select_dd .btn-light:focus, .manage__form__select_dd .btn-light:active {
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.manage__form__select_dd.show > .btn-light.dropdown-toggle {
    border-color: #F7931E;
}

.manage__form__select_dd li:focus {
    outline: none;
}

.manage__form__select_dd li.selected .dropdown-item {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}

.manage__form__select_dd .dropdown-item:hover, .manage__form__select_dd .dropdown-item:focus, .manage__form__select_dd .dropdown-item.active, .manage__form__select_dd .dropdown-item:active {
    background-color: #F7931E;
    color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}

.bootstrap-select .dropdown-menu {
    min-width: auto !important;
    width: 100%;
}

.bootstrap-select .dropdown-menu .form-control:hover, .bootstrap-select .dropdown-menu .form-control:active, .bootstrap-select .dropdown-menu .form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0;
    border-color: #F7931E;
}

.pb-100 {
    padding-bottom: 100px;
}

.mb-30 {
    margin-bottom: 30px;
}

.hidden {
    visibility: hidden;
    pointer-events: none;
}

.p-30 {
    padding: 30px;
}

.pl-30 {
    padding-left: 30px;
}

.w-0 {
    width: 0;
}

.w-30 {
    width: 30%;
}

.w-20 {
    width: 20%;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.text-12 {
    font-size: 12px;
}

.text-13 {
    font-size: 13px;
}

.text-14 {
    font-size: 14px;
}

.text-18 {
    font-size: 18px;
}

.text-grey {
    color: #999;
}

.text-success {
    color: #7ED321;
}

.text-progress {
    color: #F7931E;
}

.text-blink {
    -webkit-animation: statusBlinkerInfinite 2s linear infinite;
    animation: statusBlinkerInfinite 2s linear infinite;
}

@-webkit-keyframes statusBlinkerInfinite {
    50% {
        color: #999;
        background-color: transparent;
    }
}

@keyframes statusBlinkerInfinite {
    50% {
        color: #999;
        background-color: transparent;
    }
}

.btn-upload {
    min-width: 150px;
}

.alert-danger {
    background-color: #fff2f2;
    border-color: #D0021B;
    color: #D0021B;
}

.alert-danger .btn {
    border-color: inherit;
    color: inherit;
    background-color: rgba(255, 255, 255, 0.5);
}

.alert-warning {
    background-color: #FCF8E3;
    border-color: #8A6D3B;
    color: #8A6D3B;
}

.alert-warning .btn {
    border-color: inherit;
    color: inherit;
    background-color: rgba(255, 255, 255, 0.5);
}

.alert-success {
    background-color: #BDFFBD;
    border-color: #417505;
    color: #417505;
}

.alert-progress {
    background-color: #ffe2c1;
    border-color: #F7931E;
    color: #F7931E;
}

.alert-secondary {
    color: #333;
    background-color: #fefefe;
    border-color: #333;
}

.login {
    min-height: 100vh;
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
}

.login__content {
    text-align: center;
}

.login__form {
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
}

.login__form__block {
    border-radius: 10px;
    -webkit-box-shadow: 0px 3.5px 20px 0 rgba(0, 0, 0, 0.06);
    box-shadow: 0px 3.5px 20px 0 rgba(0, 0, 0, 0.06);
    background-color: #fff;
    padding: 45px 50px;
    width: 100%;
}

@media (max-width: 500px) {
    .login__form__block {
        padding: 30px;
    }
}

.login__form__block img {
    width: 52px;
    margin-bottom: 25px;
}

.login__form__block h1 {
    font-size: 30px;
    font-weight: normal;
}

.login__form .form-control {
    font-size: 14px;
}

.login__form__input {
    margin-bottom: 25px;
}

.login__form__input input:valid, .login__form__input input:focus {
    outline: none;
}

.login__form__input input:hover, .login__form__input input:focus, .login__form__input input:active {
    border-color: #F7931E;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.login__form__checkbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}

.login__form__checkbox a {
    font-size: 12px;
    font-weight: normal;
}

.login__form__checkbox input {
    display: none;
}

.login__form__checkbox input:checked + label:before {
    color: #fff;
    background: #F7931E;
    border-color: #F7931E;
}

.login__form__checkbox label {
    font-size: 12px;
    font-weight: normal;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.login__form__checkbox label:hover {
    color: #F7931E;
}

.login__form__checkbox label:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    font-size: 10px;
    color: transparent;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    margin-right: 10px;
    border: 1px solid #cecece;
}

.login__form .login-btn {
    position: relative;
    min-width: 120px;
}

.login__form p {
    font-size: 12px;
    font-weight: 600;
    margin-top: 35px;
}

.admin__dashboard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 20px;
}

.admin__dashboard__card {
    width: calc(25% - 15px);
    margin-bottom: 30px;
}

@media (max-width: 992px) {
    .admin__dashboard__card {
        width: calc(50% - 15px);
    }
}

.admin__dashboard__card .card-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.admin__dashboard__card_item_vol {
    font-weight: bold;
    font-size: 48px;
    margin-right: 15px;
}

.admin__dashboard__card_item_desc {
    font-weight: 500;
    font-size: 24px;
}

@media (min-width: 992px) and (max-width: 1200px) {
    .admin__dashboard__card .card-body {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

@media (max-width: 991px) {
    .admin__dashboard {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    .admin__dashboard__card {
        width: calc(50% - 15px);
    }
}

.admin__organisation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 50px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.admin__organisation__card {
    width: calc((100% / 3) - 15px);
    margin-bottom: 30px;
}

.admin__organisation__card .card-body {
    position: relative;
}

.admin__organisation__card .card-title {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 1rem;
    padding-right: 100px;
}

.admin__organisation__card .card-subtitle {
    text-transform: uppercase;
    font-weight: 500;
    color: #676767;
}

.admin__organisation__card .card-link {
    margin-left: 0 !important;
}

.admin__organisation__card .card-link.edit-org {
    position: absolute;
    right: 10px;
    top: 20px;
}

.admin__organisation__status {
    position: absolute;
    right: 1.25rem;
    bottom: 1.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 20px;
    line-height: 18px;
    border-radius: 0.2rem;
    font-weight: 500;
    color: #fff;
    padding: 0 10px;
}

.manage__org__form {
    margin-bottom: 40px;
}

.manage__org__form h4 {
    font-size: 18px;
    font-weight: 600;
}

.manage__org__form .btn {
    min-width: 120px;
}

.manage__org__form .form-control:hover, .manage__org__form .form-control:focus, .manage__org__form .form-control:active {
    border-color: #F7931E;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0;
}

.manage__org__form .form-control.disabled, .manage__org__form .form-control:disabled {
    border-color: #ced4da;
    opacity: 0.5;
    background-color: transparent;
}

.manage__org__form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(./../img/chevron-down.svg);
    background-position: right 15px center;
    background-repeat: no-repeat;
    background-size: 20px;
}

.manage__org__form__brands {
    padding-left: 0;
}

.manage__org__form__brands .item {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 5px;
}

.manage__org__form__brands .item input.item-name:disabled {
    padding-left: 0;
    outline: 0;
    border: 0;
    background-color: transparent;
}

.manage__org__form__brands .item .btn {
    line-height: 20px;
    padding: 0 3px;
    margin: 0 5px;
    color: #0076ff;
    text-decoration: underline;
}

.manage__org__form__brands .item .btn:hover, .manage__org__form__brands .item .btn:focus, .manage__org__form__brands .item .btn:active {
    color: #005ecc;
}

.manage__form__item__action {
    margin-left: auto;
    -ms-flex-item-align: end;
    align-self: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 38px;
}

.manage__form__item__action .edit__icon,
  .manage__form__item__action .remove__icon {
    cursor: pointer;
    opacity: 0.8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    padding-left: 20px;
}

.manage__form__item__action .edit__icon svg,
    .manage__form__item__action .remove__icon svg {
    width: 20px;
    height: 20px;
    line-height: 38px;
}

.manage__form__item__action .edit__icon:hover, .manage__form__item__action .edit__icon:focus, .manage__form__item__action .edit__icon:active,
    .manage__form__item__action .remove__icon:hover,
    .manage__form__item__action .remove__icon:focus,
    .manage__form__item__action .remove__icon:active {
    opacity: 1;
    color: #F7931E;
}

.dt__column__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.dt__column__item input:disabled,
  .dt__column__item select:disabled {
    border-color: transparent;
    background: none;
}

.dt__column__item input:disabled:hover, .dt__column__item input:disabled:active, .dt__column__item input:disabled:focus,
    .dt__column__item select:disabled:hover,
    .dt__column__item select:disabled:active,
    .dt__column__item select:disabled:focus {
    border-color: transparent;
}

.nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.nav-link.active {
    color: #F7931E;
}

.nav-link.active .nav-steps-no {
    background-color: #F7931E;
}

.nav-link.disabled .nav-steps-no {
    background-color: #6c757d;
}

.nav-steps-no {
    width: 24px;
    height: 24px;
    font-size: 14px;
    font-weight: 600;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    background-color: #0076ff;
    margin-right: 10px;
}

.manage__org__nav {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    position: relative;
}

.manage__org__nav .nav-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    white-space: nowrap;
}

.manage__org__content > .tab-pane.card {
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 20px;
}

.status-dropdown {
    width: auto;
    margin-right: 15px;
}

.content {
    margin-top: 55px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    min-height: calc(100vh - 55px);
}

.container-fluid {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    padding-top: 20px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: calc(100% - 70px);
}

.container-fluid .manage__form__action_btn {
    left: 70px;
}

.sidebar {
    width: 70px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 70px;
    flex: 0 0 70px;
    background-color: #002147;
    color: #fff;
    padding-top: 0;
    padding-bottom: 15px;
    -webkit-box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.2);
    font-size: 15px;
}

.sidebar .nav-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.sidebar__open {
    width: 225px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 225px;
    flex: 0 0 225px;
    padding-top: 20px;
}

.sidebar__open + .container-fluid {
    width: calc(100% - 225px) !important;
}

.sidebar__open + .container-fluid .manage__form__action_btn {
    left: 225px;
}

.sidebar__open .nav-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.sidebar__open .dropdown-toggle {
    white-space: normal;
}

.sidebar__open .sidebar__link {
    padding: 10px;
    text-align: left;
    margin-bottom: 5px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.sidebar__open .sidebar__link__text {
    white-space: nowrap;
    margin-left: 10px;
    width: auto;
    font-size: 16px;
    line-height: 24px;
    vertical-align: middle;
}

.sidebar__open .sidebar__link__icon {
    margin-bottom: 0;
    text-align: center;
    width: 26px;
    margin-bottom: 0;
}

.sidebar__open .admin__access__toggle {
    margin-top: 75px;
    padding: 0;
}

.sidebar__open .admin__access__toggle__title {
    font-size: 12px;
    padding-left: 15px;
    padding-bottom: 2px;
    color: #999;
    border-bottom: 1px solid #999;
}

.sidebar__open .admin__access__toggle__btn {
    color: #fff;
    font-size: 15px;
    width: 100%;
    padding: 10px 15px;
}

.sidebar__open .admin__access__toggle__btn:hover, .sidebar__open .admin__access__toggle__btn:focus, .sidebar__open .admin__access__toggle__btn:active {
    color: #F7931E;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #020B15;
}

.sidebar__toggle__btn {
    border-radius: 50%;
    padding: 0;
    height: 40px;
    width: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.sidebar__toggle__btn:hover {
    background-color: #dbdbdb;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.sidebar__toggle__btn:focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.sidebar__link {
    color: #fff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 5px 0;
    text-align: center;
    margin-bottom: 2px;
    width: 100%;
}

.sidebar__link:hover, .sidebar__link:focus {
    color: #F7931E;
    outline: 0;
    background-color: #020B15;
}

.sidebar__link.active {
    background-color: #020B15;
}

.sidebar__link__icon {
    margin-left: 5px;
    margin-right: 5px;
    width: 20px;
    display: inline-block;
    margin-bottom: 2px;
}

.sidebar__link__icon img {
    max-width: 100%;
    height: auto;
}

.sidebar__link__text {
    word-break: break-word;
    display: inline-block;
    width: 100%;
    font-size: 12px;
    line-height: normal;
}

.sidebar::-webkit-scrollbar-track {
    border-radius: 6px;
    background-color: #020B15;
}

.sidebar::-webkit-scrollbar {
    width: 6px;
}

.sidebar::-webkit-scrollbar-thumb {
    height: 150px;
    background-color: #F7931E;
    border-radius: 6px;
}

.sidebar__aside__nav {
    background-color: rgba(0, 33, 71, 0.9);
}

.sidebar__aside__nav .dropdown-item {
    color: #fff;
}

.sidebar__aside__nav .dropdown-item:hover, .sidebar__aside__nav .dropdown-item:focus, .sidebar__aside__nav .dropdown-item:active {
    background-color: #020B15;
}

.sidebar .dropright .dropdown-toggle::after {
    display: none;
}

.right__side__dot__nav {
    position: fixed;
    top: 50%;
    right: 15px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.right__side__dot__nav .dot {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 10px 0;
    cursor: pointer;
}

.right__side__dot__nav .dot-danger {
    background-color: #D0021B;
}

.right__side__dot__nav .dot-warning {
    background-color: #EFB403;
}

.header-right.logout-block {
    margin-left: auto;
}

.header-right p {
    float: left;
    margin-bottom: 0;
    font-weight: 600;
}

.header-right .dropdown {
    width: 100%;
}

.header-right .dropdown a.btn {
    background-color: #fff;
    color: #555;
    border: 0;
    font-size: 15px;
    width: 100%;
    line-height: 40px;
    min-height: 40px;
    padding: 0 15px;
    text-align: left;
    letter-spacing: 0px;
    font-weight: 500;
    min-width: 10px;
}

.header-right .dropdown a.btn:hover {
    background-color: #dbdbdb;
}

.header-right .dropdown a.btn:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #dbdbdb;
}

.header-right .dropdown a.btn:active {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #dbdbdb;
}

.header-right .dropdown a.btn:not(:disabled):not(.disabled).active:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #dbdbdb;
}

.header-right .dropdown a.btn:not(:disabled):not(.disabled):active:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
}

.header-right .dropdown a.btn.show > .dropdown-toggle:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
}

.header-right .dropdown .dropdown-menu.show {
    line-height: 30px;
    left: auto !important;
    right: 0 !important;
    padding: 0;
    border-radius: 0;
    min-width: 140px;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.header-right .dropdown .dropdown-menu.show .dropdown-item {
    text-align: right;
}

.header-right .dropdown-toggle::after {
    display: none;
}

.user-name {
    margin-top: 0;
}

.user-profile-icon {
    background: url(./../img/user-profile-default-icon.svg) no-repeat;
    background-size: 100% auto;
    width: 22px;
    height: 25px;
    display: block;
    float: left;
    margin-top: 10px;
    margin-right: 0;
    margin-left: 10px;
}

.data__uploads {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.data__uploads__header .btn-back {
    background-color: #fff;
    color: #0076FF;
    padding-left: 1rem;
    padding-right: 1rem;
}

.data__uploads__nav__tab {
    width: 155px;
}

.data__uploads__nav__tab .nav-link {
    color: #888;
    border: none;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
    text-transform: capitalize;
}

.data__uploads__nav__tab .nav-link:hover {
    color: #333;
    background-color: #c9d6e4;
}

.data__uploads__nav__tab .nav-link.active {
    background-color: #fff;
    color: #333;
    font-weight: bold;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.data__uploads__action {
    margin-left: auto;
}

.data__uploads__action .btn {
    min-width: 100px;
}

.data__uploads__tab__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc(100% - 155px);
    background-color: #fff;
    border-radius: 0 0.25rem 0.25rem 0.25rem;
    min-height: 460px;
    position: relative;
}

.data__uploads__tab__content .tab-pane {
    width: 100%;
    padding: 20px 20px 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.data__uploads__tab__content .tab-pane.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.data__uploads__tab__content .alert {
    line-height: 20px;
    padding: 9px 20px;
}

.data__uploads__table {
    margin-bottom: 0;
}

.data__uploads__table__header {
    padding-bottom: 5px;
    border-bottom: 1px solid #979797;
}

.data__uploads__table__title {
    font-weight: 600;
    font-size: 20px;
}

.data__uploads__table__title .file__version {
    font-weight: 300;
    font-size: 16px;
}

.data__uploads__table th,
    .data__uploads__table td {
    white-space: nowrap;
    vertical-align: middle;
}

.data__uploads__table__last__updated p {
    color: #777;
    font-size: 12px;
    text-align: right;
    margin: 0;
}

.data__uploads__table__status {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.95);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-weight: 500;
}

.data__uploads__table__status .loader {
    overflow: visible;
}

.data__uploads__table__status .rotate {
    -webkit-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
    -webkit-transform-origin: center;
    transform-origin: center;
}

.data__uploads__table__status .error-icon {
    display: none;
    width: 100px;
}

.data__uploads__table__status.state-error .loader {
    display: none;
}

.data__uploads__table__status.state-error .error-icon {
    display: block;
}

.data__uploads__table__status.state-error .status-msg {
    display: none;
}

.data__uploads__table__column__mapping td:first-child {
    border-left-color: transparent;
}

.data__uploads__table__column__mapping td:last-child {
    border-right-color: transparent;
}

.data__uploads__table__column__mapping tr:last-child td {
    border-bottom-color: transparent;
}

.data__uploads__filter .col-form-label {
    white-space: nowrap;
    font-weight: 600;
    line-height: 31px;
    padding: 0;
}

.data__uploads__filter select {
    background-color: #fff;
    min-width: 150px;
    margin-left: 15px;
    border-color: #d8d8d8;
}

.data__uploads__file__accordion .card {
    border-color: transparent;
}

.data__uploads__file__accordion .card-header {
    border-color: #999;
    background-color: #333;
}

.data__uploads__file__accordion .card-header .btn {
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-weight: 500;
}

.data__uploads__file__accordion .card-header .btn:not(.collapsed) svg {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.data__uploads__file__accordion .card-header .btn-link.focus,
    .data__uploads__file__accordion .card-header .btn-link:focus {
    text-decoration: none;
}

.data__uploads__file__accordion .card-body {
    border: 1px solid #999;
}

.data__uploads__file__details .card-body {
    background-color: #e2e8ef;
}

.data__uploads__file__details tr {
    background-color: #fff;
}

.data__uploads__file__stage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 500;
}

.data__uploads__file__stage span {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 16px;
    font-weight: 600;
}

.data__uploads__file__stage svg {
    margin: 0 10px;
    fill: inherit;
}

.data__uploads__file__stage .steps {
    max-width: 200px;
    margin: 0;
    text-align: center;
    width: 33.33%;
}

.data__uploads__file__stage .steps h3 {
    font-size: 1rem;
}

.data__uploads__file__stage .alert {
    padding: 5px 10px;
    line-height: 15px;
}

.data__uploads__file__stage .alert.alert-secondary {
    color: #999;
    border-color: #999;
}

.data__uploads__file__stage .alert.alert-success {
    background-color: #BDFFBD !important;
    border-color: #417505 !important;
    color: #417505 !important;
}

.data__uploads__due {
    font-weight: 500;
    line-height: 1.2em;
    margin-bottom: 1rem;
}

.data__uploads__due__text {
    font-size: 13px;
}

.data__uploads__due__date {
    font-size: 18px;
}

.data__uploads__file__error__text {
    font-weight: 600;
}

.data__uploads__errors__accordion {
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}

.data__uploads__errors__accordion .heading {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.data__uploads__errors__accordion .show-hide-toggle {
    width: 200px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 200px;
    flex: 0 0 200px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.data__uploads__errors__accordion .show-hide-toggle:hover {
    background-color: #eee;
}

.data__uploads__errors__accordion .show-hide-toggle:not(.collapsed) svg {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.data__uploads__errors__accordion .show-hide-toggle:not(.collapsed) .show {
    display: none;
}

.data__uploads__errors__accordion .show-hide-toggle.collapsed .hide {
    display: none;
}

.data__uploads__errors__accordion .action__col {
    width: 200px;
}

.data__uploads__errors__accordion .action__col .btn-fix {
    width: 100%;
    min-width: auto;
}

.data__uploads__errors__accordion .action__col .btn-undo {
    min-width: auto;
    width: auto;
}

.data__uploads__version__log {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.95);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-weight: 500;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    min-width: 120px;
    min-height: 31px;
    line-height: 15px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #333;
    color: #fff;
}

.fileUpload:hover {
    color: #fff !important;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.custom-upload-block {
    padding-left: 0 !important;
}

.custom-upload-block .form-control[readonly] {
    background-color: #fff;
}

.data__upload__form {
    padding: 30px 15px;
    background-color: #fff;
    border-radius: 5px;
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }

    to {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@keyframes rotate {
    from {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }

    to {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

.accordion .card-header {
    background-color: #fff !important;
}

.data__approval__data__type {
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.data__approval__data__type .badge {
    padding: 5px 25px;
}

.data__approval__data__type .badge-secondary {
    background-color: #d8d8d8;
    color: #333;
}

.data__approval__file__name {
    font-weight: 500;
}

.data__approval__file__desc {
    font-size: 14px;
}

.data__approval__file__desc.reject {
    color: red;
}

.data__approval__file__info {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
}

.data__approval__file__status {
    color: #999;
    text-transform: uppercase;
}

.data__approval__links a {
    white-space: nowrap;
}

.data__approval__actions a.rejection-details-link {
    line-height: 35px;
}

.data__approval .card-header,
.data__approval .card-body,
.data__approval .card-footer {
    padding: 1rem;
    background-color: transparent;
}

.data__approval .btn {
    min-width: 145px;
    text-transform: uppercase;
}

.data__approval .btn-approved {
    cursor: default;
}

.data__approval .btn-approved:hover, .data__approval .btn-approved:active, .data__approval .btn-approved:focus {
    outline: 0;
}

.data__approval .text-success {
    color: #7ed321 !important;
    font-weight: bold;
}

.data__approval .text-danger {
    color: var(--danger) !important;
    font-weight: bold;
}

.data__approval .text-question {
    font-size: 1.2rem;
    font-weight: bold;
}

.container-fluid {
    position: relative;
}

.process__update {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    border: 1px solid #dbdbdb;
    min-width: 1200px;
}

.process__update__status {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    min-width: 1200px;
}

.process__update__step {
    width: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #999;
    position: relative;
}

.process__update__step .step__no {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #eee;
    font-weight: 500;
}

.process__update__step .step__text {
    text-transform: uppercase;
    font-weight: 600;
}

.process__update__step:not(:last-child) .step__no::before {
    content: '';
    height: 10px;
    width: calc(100% - 38px);
    position: absolute;
    left: calc(50% + 19px);
    background-color: #eee;
}

.process__update__step.success .step__no {
    background-color: #34C736;
    color: #fff;
}

.process__update__step.success .step__no::before {
    background-color: #34C736;
}

.process__update__step.success .step__text {
    color: #34C736;
}

.process__update__inner__wrapper {
    overflow-x: auto;
    width: 100%;
}

.process__update__file__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.process__update__file__column:not(:last-child) {
    border-right: 1px solid #dbdbdb;
}

.process__update__file__column.right {
    min-height: 100%;
}

.process__update__file__column.right .process__update__file__row {
    height: 100%;
}

.process__update__file__column.right .process__update__msg {
    bottom: auto;
    right: auto;
}

.process__update__file__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.process__update__file__row:not(:last-child) {
    border-bottom: 1px solid #dbdbdb;
}

.process__update__file__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    padding: 15px 15px 25px 20px;
    color: #888;
    width: 50%;
    cursor: pointer;
}

.process__update__file__block:not(:last-child) {
    border-right: 1px solid #dbdbdb;
}

.process__update__file__block svg {
    width: 28px;
    height: 28px;
    color: #dbdbdb;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30px;
    flex: 0 0 30px;
}

.process__update__file__block .file__block__text {
    padding-left: 15px;
}

.process__update__file__block .file__block__text h3 {
    margin-bottom: 5px;
    font-size: 20px;
    color: #333;
}

.process__update__file__block .file__block__text p {
    margin: 0;
    font-size: 14px;
    line-height: 1.2em;
}

.process__update__file__block .badge {
    font-weight: 500;
    border-radius: 0;
    font-size: 13px;
    line-height: 20px;
    padding: 0 15px;
}

.process__update__file__block.danger .date {
    color: #d0021b;
}

.process__update__file__block.danger .badge {
    color: #d0021b;
    background-color: rgba(208, 2, 27, 0.1);
}

.process__update__file__block.success .date {
    color: #417505;
}

.process__update__file__block.success .badge {
    color: #417505;
    background-color: rgba(65, 117, 5, 0.1);
}

.process__update__file__block.warning .date {
    color: #FDAE30;
}

.process__update__file__block.warning .badge {
    color: #FDAE30;
    background-color: rgba(253, 174, 48, 0.1);
}

.process__update__file__block.selected::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 5px solid #0076FF;
}

.process__update__file__block.selected svg {
    color: #0076FF;
}

.process__update__msg {
    position: absolute;
    right: 0;
    bottom: 0;
}

.process__update__modal .modal-content {
    border: 0;
}

.process__update__modal .modal-dialog {
    width: 700px;
    max-width: 700px;
}

.process__update__modal .modal-header {
    padding: 15px 20px;
}

.process__update__modal .modal-title {
    font-weight: 700;
}

.process__update__modal .modal-body {
    background-color: #d8d8d8;
    padding: 20px;
    border-radius: 0 0 0.3rem 0.3rem;
    border-color: #d8d8d8;
}

.process__update__modal .form-title {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: #646464;
}

.process__update__log__table {
    margin: 0;
}

.process__update__log__table th {
    font-weight: 600;
}

.process__update__log__table td {
    background-color: #fff;
}

.process__update__select {
    width: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.process__update__select input.form-control {
    border: 1px solid #ccc;
    border-right: 0;
    padding: 0 15px;
    line-height: 40px;
    height: 40px;
    vertical-align: middle;
    font-weight: 500;
}

.process__update__select input.form-control:disabled {
    background-color: #fff;
}

.process__update__select .btn {
    background-color: #e6e6e6 !important;
    color: #333 !important;
    border: 1px solid #ccc !important;
}

.process__update__select .btn:focus {
    outline: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.process__update__select .dropdown-menu {
    width: 200px;
}

.process__update__checkbox .form-check {
    padding: 0;
    margin-right: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.process__update__checkbox input {
    display: none;
}

.process__update__checkbox input:checked + label {
    color: #7ED321;
    border-color: #7ED321;
}

.process__update__checkbox input:checked + label svg {
    color: inherit;
}

.process__update__checkbox label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    line-height: 28px;
    padding: 5px 15px;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    width: 185px;
    color: #999;
    font-weight: 500;
    cursor: pointer;
}

.process__update__checkbox label svg {
    margin-right: 5px;
    color: #CFCDCD;
}

.process__update__textarea {
    resize: none;
}

.process__update__textarea:focus, .process__update__textarea:hover, .process__update__textarea:active {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    border-color: #F7931E;
}

.file__block__actions {
    display: none;
    background-color: #0076FF;
    position: fixed;
    top: 55px;
    left: 90px;
    right: 20px;
    padding: 15px 25px;
    z-index: 999;
}

.file__block__actions__btn {
    color: #0076FF;
    background-color: #fff;
    margin-right: 15px;
    min-width: 125px;
}

.file__block__actions__btn:hover, .file__block__actions__btn:active, .file__block__actions__btn:focus {
    color: #005ecc;
    background-color: #fefefe;
}

.sidebar__open + .container-fluid .file__block__actions {
    left: 245px;
}

.dashboard__card {
    margin-bottom: 30px;
}

.dashboard__card:not(:first-child) {
    padding-left: 7.5px;
}

.dashboard__card:not(:last-child) {
    padding-right: 7.5px;
}

html,
body {
    height: 100%;
    font-family: "Barlow", sans-serif;
}

body {
    background-color: #e2e8ef;
    color: #333;
}

html,
body .table {
    color: #333;
}

a {
    color: #0076FF;
}

a:hover, a:focus {
    color: #005ecc;
}

.content-wrapper {
    height: calc(100% - 50px);
}

header {
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

header .navbar {
    height: 50px;
}

.im-logo {
    max-width: 130px;
    display: block;
}

.im-logo img {
    display: block;
    max-width: 100%;
}

.btn-primary {
    color: #fff;
    font-weight: 500;
    background-color: #F7931E;
    border-color: #F7931E;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled):active:focus {
    background-color: #B86300;
    border-color: #B86300;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
}

.btn-primary.disabled, .btn-primary:disabled {
    background-color: #f9ab4f;
    border-color: #f9ab4f;
}

.btn-outline-primary {
    color: #F7931E;
    border-color: #F7931E;
}

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled):active:focus {
    background-color: #F7931E;
    border-color: #F7931E;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
    background-color: #f9ab4f;
    border-color: #f9ab4f;
}

.page-header {
    margin-bottom: 20px;
}

.page-header h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0;
}

.page-header p {
    font-size: 15px;
    color: #666;
    margin-bottom: 0;
}

.breadcrumb {
    background: none;
    padding-left: 0;
    font-size: 14px;
    margin-bottom: 0;
}

.breadcrumb .breadcrumb-item a {
    color: #4a90e2;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: "";
    display: none;
}

.search-user-wrapper {
    width: 250px;
}

@media (max-width: 992px) {
    .search-user-wrapper {
        width: 200px;
    }
}

.manage__user__table td {
    line-height: 30px;
    background-color: #fff;
    border-bottom: 1px solid #e7e7e7;
    position: relative;
    vertical-align: middle;
    width: calc((100% - 150px) / 5);
}

.manage__user__table td p {
    margin: 0;
}

.manage__user__table td.status__col {
    width: 100px;
}

.manage__user__table td.edit__col {
    width: 50px;
}

.manage__user__table .manage__user__status {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.manage__user__table .manage__user__action {
    height: 30px;
}

.manage-user__filters {
    padding-left: 15px;
}

.manage-user__filter-role,
.manage-user__filter-status {
    width: 150px;
}

.manage-user__edit {
    cursor: pointer;
}

.manage-user__edit:hover, .manage-user__edit:focus {
    color: var(--success);
}

.manage-user__delete {
    cursor: pointer;
}

.manage-user__delete:hover, .manage-user__delete:focus {
    color: var(--danger);
}

.custom-control-input:checked ~ .custom-control-label::before {
    border-color: #F7931E;
    background-color: #F7931E;
}

.disabled-badge {
    position: absolute;
    top: 0;
    right: 0;
}

tr .disabled-badge {
    display: none;
}

tr.disabled td {
    background-color: #eee;
}

tr.disabled .disabled-badge {
    display: block;
}

.modal-footer .btn {
    min-width: 100px;
}

.wait-sheen {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1500;
    background-color: rgba(255, 255, 255, 0.9);
}

.wait-sheen .sheen-content {
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.wait-sheen .sheen-content p {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 0;
}

.row-set-details {
    padding-top: 10px;
    border-top: 1px solid #dee2e6;
}

.row-set-details span {
    font-weight: bold;
}

.row-set-actions {
    padding-top: 20px;
    border-top: 1px solid #dee2e6;
}

.row-sets-container {
    position: relative;
}

.action-sheen {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.9);
}

.action-sheen .sheen-details {
    position: relative;
    top: 50%;
    text-align: center;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.action-sheen .sheen-details p {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}

.tasks-container > h4 {
    border-bottom: 1px solid #999;
    padding-bottom: 5px;
}

.tasks-container.completed .card {
    border-left: 5px solid green;
}
