.data__approval {
  &__data__type {
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    .badge {
      padding: 5px 25px;
      &-secondary {
        background-color: #d8d8d8;
        color: #333;
      }
    }
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
    border-color: #6c757d;
    .card-header,
    .card-footer {
      border-color: #6c757d;
    }
  }
  .card-body.tasks__container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  &__file__ {
    &name {
      font-weight: 500;
    }
    &desc {
      font-size: 14px;
      &.reject {
        
          color: red;
        
      }
    }
    
    &info {
      font-size: 14px;
      font-weight: 600;
      line-height: 18px;
    }
    &status {
      color: #999;
      text-transform: uppercase;
    }
  }

  &__links {
    a {
      white-space: nowrap;
    }
  }
  &__actions {
    a.rejection-details-link {
      line-height: 35px;
    }
  }
  .card-header,
  .card-body,
  .card-footer {
    padding: 1rem;
    background-color: transparent;
  }
  .btn {
    min-width: 145px;
    text-transform: uppercase;
  }
  .btn-approved {
    cursor: default;
    &:hover,
    &:active,
    &:focus {
      outline: 0;
    }
  }
  .text-success {
    color: #7ed321 !important;
    font-weight: bold;
  }
  .text-danger {
    color: var(--danger) !important;
    font-weight: bold;
  }
  .text-question {
    font-size: 1.2rem;
    font-weight: bold;
  }
}
