.dashboard {
    &__card {
        margin-bottom: 30px;
        &:not(:first-child) {
            padding-left: 7.5px;
        }
        &:not(:last-child) {
            padding-right: 7.5px;
        }
    }
}