// $link-color: #0076FF;
// $primary: #F7931E;
// $body-bg: #f2f2f2;

.manage__org__form {
  margin-bottom: 40px;

  h4 {
    font-size: 18px;
    font-weight: 600;
  }

  .btn {
    min-width: 120px;
  }

  .form-control {
    &:hover,
    &:focus,
    &:active {
      border-color: $primary;
      box-shadow: none;
      outline: 0;
    }
  }

  select {
    appearance: none;
    background-image: url(./../img/chevron-down.svg);
    background-position: right 15px center;
    background-repeat: no-repeat;
    background-size: 20px;
  }

  &__brands {
    padding-left: 0;

    .item {
      list-style-type: none;
      display: flex;
      align-items: center;
      margin-bottom: 5px;

      input.item-name {
        &:disabled {
          padding-left: 0;
          outline: 0;
          border: 0;
          background-color: transparent;
        }
      }

      .btn {
        line-height: 20px;
        padding: 0 3px;
        margin: 0 5px;
        color: $link-color;
        text-decoration: underline;

        &:hover,
        &:focus,
        &:active {
          color: darken($link-color, 10%);
        }
      }
    }
  }
}

.manage__form__item__action {
  margin-left: auto;
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 38px;

  .edit__icon,
  .remove__icon {
    cursor: pointer;
    opacity: 0.8;
    display: flex;
    align-content: center;
    padding-left: 20px;
    svg {
      width: 20px;
      height: 20px;
      line-height: 38px;
    }

    &:hover,
    &:focus,
    &:active {
      opacity: 1;
      color: $primary;
    }
  }
}

.dt__column__item {
  display: flex;
  align-items: center;

  input:disabled,
  select:disabled {
    border-color: transparent;
    background: none;

    // line-height: 30px;
    // height: 30px;
    &:hover,
    &:active,
    &:focus {
      border-color: transparent;
    }
  }
}

.nav {
  &-link {
    display: flex;
    align-items: center;

    &.active {
      color: $primary;

      .nav-steps-no {
        background-color: $primary;
      }
    }

    &.disabled {
      .nav-steps-no {
        background-color: #6c757d;
      }
    }
  }

  &-steps-no {
    width: 24px;
    height: 24px;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    background-color: $link-color;
    margin-right: 10px;
  }
}

.manage__org__nav {
  flex-wrap: nowrap;
  position: relative;

  .nav-item {
    display: flex;
    justify-content: center;
    white-space: nowrap;
    // background-color: $body-bg;
  }

  // &::before {
  //   content: "";
  //   position: absolute;
  //   width: 100%;
  //   top: 50%;
  //   transform: translateY(-50%);
  //   height: 1px;
  //   background-color: #ced4da;
  //   z-index: -1;
  // }
}

.manage__org__content {
  >.tab-pane.card {
    // margin-top: -1px;
    // position: relative;
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 20px;
  }
}

.status-dropdown {
  width: auto;
  margin-right: 15px;
}