.data__uploads {
    display: flex;

    &__nav__tab {
        width: 155px;

        .nav-link {
            color: #888;
            border: none;
            transition: all ease 0.3s;

            // border: 2px solid transparent;
            // border-right: none;
            text-transform: capitalize;

            &:hover {
                color: #333;
                // background-color: #fff;
                // border-color: #eee;
                background-color: #c9d6e4;
            }

            &.active {
                background-color: #fff;
                color: #333;
                font-weight: bold;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
    }

    &__action {
        margin-left: auto;

        .btn {
            min-width: 100px;
        }
    }

    &__tab__content {
        display: flex;
        width: calc(100% - 155px);
        background-color: #fff;
        border-radius: 0 0.25rem 0.25rem 0.25rem;

        .tab-pane {
            &.active {
                display: flex;
            }

            width: 100%;
            padding: 20px 20px 20px;
            flex-direction: column;
        }

        .alert {
            line-height: 20px;
            padding: 9px 20px;
        }
    }

    &__table {
        margin-bottom: 0;
        &__header {
            padding-bottom: 5px;
            border-bottom: 1px solid #979797;
        }

        &__title {
            font-weight: 600;
            font-size: 22px;
        }

        th,
        td {
            white-space: nowrap;
        }

        &__last__updated {
            p {
                color: #777;
                font-size: 12px;
                text-align: right;
                margin: 0;
            }
        }

        &__status {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            margin-top: 50px;
            margin-bottom: 50px;
            svg {
                margin-bottom: 15px;

                .rotate {
                    animation: timer-spin 2s linear infinite;
                    transform-origin: center;
                }
            }
        }
    }

    &__filter {
        .col-form-label {
            white-space: nowrap;
            font-weight: 600;
        }

        select {
            background-color: #fff;
            min-width: 150px;
            margin-left: 15px;
            border-color: #d8d8d8;
        }
    }

    &__file__accordion {
        .card {
            border-color: transparent;
        }

        .card-header {
            border-color: #999;
            background-color: #333;

            .btn {
                color: #fff;
                display: flex;
                width: 100%;
                justify-content: space-between;
                font-weight: 500;

                &:not(.collapsed) svg {
                    transform: rotate(180deg)
                }
            }
        }

        .card-body {
            border: 1px solid#999;
        }
    }

    &__file__details {
        .card-body {
            background-color: #e2e8ef;
        }

        tr {
            background-color: #fff;
        }
    }
}


.fileUpload {
    position: relative;
    overflow: hidden;
    min-width: 120px;
    min-height: 31px;
    line-height: 15px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #333;
    color: #fff;

    &:hover {
        color: #fff !important;
    }
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.custom-upload-block {
    padding-left: 0 !important;

    .form-control[readonly] {
        background-color: #fff;
    }
}

.data__upload__form {
    padding: 30px 15px;
    background-color: #fff;
    border-radius: 5px;
}