$primary: #F7931E;
$body-color: #333;

.manage__user {
  &>.tab-pane.card {
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.manage__form {
  padding: 40px 50px 50px;

  h4 {
    font-size: 14px;
    font-weight: 600;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    h3 {
      font-size: 18px;
      display: flex;
      align-items: center;
      margin-bottom: 0;
    }

    span {
      width: 30px;
      height: 30px;
      border: solid 1px #979797;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      margin-right: 15px;
      font-size: 12px;
      font-weight: 600;
    }

    p {
      font-size: 12px;
      color: #fc3d39;
      display: flex;
      align-items: center;
      margin-bottom: 0;

      &:before {
        content: '';
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: #fc3d39;
        display: block;
        margin-right: 5px;
      }
    }
  }

  .form-control {
    font-size: 14px;

    &:valid,
    &:focus {
      outline: none;
    }

    &:hover,
    &:focus,
    &:active {
      border-color: $primary;
      box-shadow: none;
    }
  }


  &__radio {
    margin-bottom: 30px;

    input {
      &[type=radio] {
        display: none;
      }

      &:checked+label {
        color: $primary;

        &:before {
          border-color: $primary;
          box-shadow: 0 0 0 1px $primary;
        }
      }
    }

    label {
      font-size: 14px;
      font-weight: 400;
      color: #616161;
      margin-right: 30px;
      margin-bottom: 0;
      position: relative;
      display: flex;
      align-items: center;

      &:before {
        content: '';
        width: 14px;
        height: 14px;
        opacity: .87;
        border: 3px solid transparent;
        box-shadow: 0 0 0 1px #cecece;
        margin-right: 10px;
        border-radius: 100%;
        transition: all .3s;
      }
    }
  }

  &__select {

    select,
    &_dd>.btn-light {
      color: #979797;
      font-size: 14px;
      font-weight: 400;
      background: none;
      outline: none;
      appearance: none;
      border-color: #cecece;

      &:not(.multiple) {
        border: 1px solid #cecece;
        background-image: url('./../img/chevron-down.svg');
        background-position: right 15px center;
        background-repeat: no-repeat;
        background-size: 20px;
      }

      &:valid,
      &:focus {
        outline: none;
      }

      &.multiple,
      &.selected {
        color: $body-color;
      }

      &.multiple {
        line-height: 20px;

        option {
          padding: 10px;
        }
      }
      &:hover,
      &:focus,
      &:active {
        border-color: $primary !important;
        box-shadow: none;
      }
    }
  }

  &__table {
    width: calc(100% + 100px);
    margin-left: -50px;
    display: block;

    thead,
    tbody {
      display: block;
      width: 100%;
    }

    thead p {
      font-weight: 700;
      text-transform: uppercase;
    }

    tr {
      padding: 0 50px;
      width: 100%;
      display: flex;
      align-items: center;
      transition: all .3s;
    }

    tbody {
      tr:nth-child(2n+1) {
        background: #f2f2f2;
      }
    }

    th,
    td {
      display: flex;
      padding: 10px 0;

      &:first-child {
        width: 80%;
      }

      &:last-child {
        width: 20%;
        justify-content: flex-end;
      }
    }

    label,
    p {
      font-size: 14px;
      margin-bottom: 0;
    }
  }

  &__checkbox {
    input[type=checkbox] {
      display: none;
    }
    &.disabled {
      label {
        cursor: not-allowed;
      }
    }

    label {
      cursor: pointer;
      margin-right: 30px;
      margin-left: 25px;

      &:before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f00c";
        width: 16px;
        height: 16px;
        opacity: .87;
        border: solid 1px #979797;
        color: transparent;
        font-size: 10px;
        justify-content: center;
        display: inline-flex;
        margin-right: 9px;
        margin-left: -25px;
        border-radius: 4px;
        transition: all .3s;
      }
    }

    input:checked+label:before {
      background: $primary;
      border-color: $primary;
      color: #fff;
    }
  }

  &__kpi_checkbox {
    // margin-bottom: 30px;

    label {
      margin-right: 30px;
    }
  }
}

.manage__form__action_btn {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 20px;
  background-color: #fff;
  z-index: 1000;
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);

  .btn {
    min-width: 120px;
  }
  .container {
    padding-bottom: 0;
  }
}

.manage__view__user,
.manage__edit__user {

  .manage__form__input input+label,
  .manage__form__input textarea+label {
    bottom: 100%;
    color: #777;
    font-size: 12px;
  }
}

.manage__form__selected_list {
  .list-group-item {
    padding: 0.5rem 1rem;
    line-height: 22px;
  }
}

.manage__form__select_dd {
  width: 100% !important;

  .btn-light {
    width: 100% !important;
    outline: none;
    // padding: 0;

    .filter-option {
      padding-right: 40px;
      overflow: hidden;
    }

    .filter-option-inner-inner {
      text-overflow: ellipsis;
    }

    &:after {
      display: none;
    }

    &:focus,
    &:active {
      outline: none !important;
      box-shadow: none !important;
    }
  }

  &.show>.btn-light.dropdown-toggle {
    border-color: $primary;
  }

  li {
    &:focus {
      outline: none;
    }

    &.selected {
      .dropdown-item {
        box-shadow: none;
        outline: none;
      }
    }
  }

  .dropdown-item {

    &:hover,
    &:focus,
    &.active,
    &:active {
      background-color: $primary;
      color: #fff;
      box-shadow: none;
      outline: none;
    }
  }
}

.bootstrap-select .dropdown-menu {
  min-width: auto !important;
  width: 100%;

  .form-control {

    &:hover,
    &:active,
    &:focus {
      box-shadow: none;
      outline: 0;
      border-color: $primary;
    }
  }
}